<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{name}}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/idol.css') }}">
</head>
<body>
	<div class="main">
		<div class="content">
			<div class="wrapper">
				<img src={{icon}} class="pfp">
			</div>
			<div class="wrapper">
				<p class="name text">{{name}}</p>
			</div>

			<div class="wrapper">
				<p class="sub text">{{subcount}}</p>
			</div>
			<div class="wrapper">
				<p class="view text">{{viewcount}}</p>
			</div>

			<div class="wrapper">
				<a class="yt text" href='https://www.youtube.com/channel/{{yt}}'>Youtube</a>
			</div>
			<div class="wrapper">
				<a class="twt text" href='https://www.twitter.com/{{twt}}'>Twitter</a>
			</div>
		</div>
	</div>
<body>
</html>