<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{name}}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/idol.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}">
</head>
<body>
	<div class="main">
		<div class="content">
			<table class="table">
				<tr>
					<td>
						<img src={{icon}} class="pfp">
					</td>
					<td>
						<p>{{name}}</p>
					</td>
				</tr>
				<tr>
					<td class="txt">
						<p>{{subcount}}</p>
					</td>
					<td class="txt">
						<p>{{viewcount}}</p>
					</td>
				</tr>
				<tr>
					<td>
						<a href='https://www.youtube.com/channel/{{yt}}'>Youtube</a>
					</td>
					<td>
						<a href='https://www.twitter.com/{{twt}}'>Twitter</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>