<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{name}}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/idol.css') }}">
</head>
<body>
	<div class="main">
		<div class="content">
			<img src={{icon}} class="pfp">
			<p class="name text">{{name}}</p>

			<p class="sub text">{{subcount}}</p>
			<p class="view text">{{viewcount}}</p>

			<a class="yt text" href='https://www.youtube.com/channel/{{yt}}'>Youtube</a>
			<a class="twt text" href='https://www.twitter.com/{{twt}}'>Twitter</a>
		</div>
	</div>
</body>
</html>