@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'poppins';
	color: #fff;


	--dark-gray: #313131;
	--light-gray: #8e8e8e;
	--lime: #92E897;
}

body {
	background-color: var(--dark-gray);
}

.gridDiv {
	display: grid;
	/* place-items: center; */
}

.title {
	place-self: center;
	margin: calc((1vw + 1vh) / 2);
}

.iconGrid {
	display: grid;
	/* place-items: center; */
	/* place-self: center; */
	grid-template-columns: repeat(auto-fill, 120px);
	margin: 0 1vw 1vw 1vw;
	grid-gap: calc((1vw + 1vh) / 2);
}

.redirectButton {
	width: 120px;
	height: 120px;
	background-color: var(--light-gray);
	display: grid;
	place-items: center;
}